extends layout

block content
  header Bucketlists
  form(action='/bucketlists', method='post')
    input(type='text', name='search')
  main
    each user in userData  
      div
        p= user.display_name
        img(src='#')
        each bucketlist in bucketlists
          -if (bucketlist.user_id === user.id)
              p= bucketlist.title
              p= bucketlist.resourceA
              a(href=bucketlist.resourceUrlA) Resource A   
              p= bucketlist.resourceB
              a(href=bucketlist.resourceUrlB) Resource B
              p= bucketlist.resourceC
              a(href=bucketlist.resourceUrlC) Resource C
  
