extends ../layout

block content
  .topnav
    .topbar
      p
        a(href="/auth/logout") Logout
    .topbar
      p
        a(href="/bucketlists/#{bucketlist.user_id}") Profile
    .topbar
      p
        a(href="/bucketlists/chat") Chat
    .topbar
      p
        a(href="/bucketlists") Discover
    .createheader
      h1 Edit your item
    form(method='post', action='/bucketlists/#{userId}/items/#{bucketlist.id}')
      .formtitle
        h1 Title
        input(type='text', name='title', value='#{bucketlist.title}') 
        h1 Description
        textarea(name='description') #{bucketlist.description}
        br
      .imageside
        h1 Image Url
        .formtitle
          .formimages
            input(type='text', name='picture', value='#{bucketlist.picture}')
          br
      input(type='submit', name='submit', value='submit')
      a(href='/bucketlists/'+bucketlist.user_id)
